Content/_Common/Megascans/3D_Assets/Roman_Statue_00/tgsibj3fa_8K_Normal_LOD0.uasset filter=lfs diff=lfs merge=lfs -text
Content/_Common/Megascans/3D_Assets/Roman_Statue_00/tgsibj3fa_8K_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Content/_Common/OfficialSampleAsset/ParagonBoris/Characters/Heroes/Boris/Textures/T_Xgen_boris_head_n.uasset filter=lfs diff=lfs merge=lfs -text
